	<div class = "row">
		<div class = "col-md-8 col-md-offset-4">
		<p ng-show = "isUpload" style = "color:blue">{{message}}</p>
		<p ng-show = "isSuccess" style = "color:green">{{message}}</p>
			<div class = "row ip">
				<div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-resize="{width: 100, height: 100}">Choose your image</div>
			</div>
			<div class = "row ip">
				<textarea class = "form-control" ng-model = "user.bio" ></textarea>
			</div>
		<button ng-click = "updateBio()">Update!</button>
		</div>
	</div>