<div class = "col-sm-10 col-sm-offset-1">
	<div class= "row">
		<div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'">Upload a new image</div>
		<br /><button ng-click = "getPhotos()">Show images from friends!</button>		
	</div>
	
	<div class = "row">
		<table class = "photocontent" ng-repeat = "x in photos">
			<tr ng-repeat = "photo in x.images">
				<td><strong>{{x.username}}</strong>
					<image ng-src = "{{x.image}}" class = "img-responsive prof"></image>
				</td>
				<td>{{photo.date | date: 'MM/dd/yyyy hh:mm'}}
					<image ng-src = "{{photo}}"></image>
				</td>	
			</tr>
		</table>
	</div>
</div>	
