	<div class = "row" ng-show = "!loggedIn">
		<div class = "col-md-8 col-md-offset-4">
			<p ng-show = "isError" style = "color:red">{{errorM}}</p>
			<div class = "row ip">
				<strong>Email:</strong><input type = "text" ng-model = "newUser.username" class ="form-control">
			</div>
			<div class = "row ip">
				<strong>Password:</strong><input type = "password" ng-model = "newUser.password" class ="form-control">
			</div>
		<button ng-click = "newuser()">Sign up</button>
		</div>
		<p style = "color: green; text-align:center" ng-show = "loggedIn">You have logged in. <a href = "/#/">Go to home</a></p>
		<p style = "color: green; text-align:center" ng-show = "isReg">You successfully registered <a href = "/#/login">Login</a></p>
	</div>